.menu-list {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @keyframes itemAppearAnimation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .menu-list-item {
        opacity: 0;
        animation: itemAppearAnimation 0.9s 1;
        animation-fill-mode: forwards;
        overflow: hidden;
        background-color: white;
        border-radius: 10px;
        @include elevationMedium;
        font-size: 1.2em;
        display: flex;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.25s;
            }
        }

        &:hover {
            .check-container {
                width: 55px;
                transition: width 0.5s ease;

                i {
                    transition: transform 0.75s ease-in-out;
                    transform: rotate(0deg);
                }
            }
        }

        .menu-list-item-sub-container {
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            overflow: hidden;

            .menu-list-item-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 0.8em;
            }

            .menu-list-item-description-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 0.7em;
                gap: 5px;

                .menu-list-item-detail {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .menu-list-item-price {
                    font-weight: bold;
                }
            }
        }

        .check-container {
            background-color: $color-tertiary;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0;
            transition: width 0.5s ease;

            i {
                transform: rotate(-360deg);
            }
        }
    }
}
