.ordering-steps-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .ordering-step-container {
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        background-color: $color-light-grey;
        gap: 1em;
        padding: 1.4em 1.5em;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-light;

            i {
                color: $color-primary;
            }
        }

        i {
            color: gray;
        }

        p {
            font-size: 0.9rem;
            font-weight: bold;
        }

        .chip-primary {
            position: absolute;
            left: 0;
            transform: translateX(-50%);
        }
    }
}
