section {
    padding: 3em 1em;
}

.reserve-section {
    background-color: $color-light-grey;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;

    button {
        margin-top: 1em;
    }
}

.ordering-steps-section {
    gap: 1.3em;
    display: flex;
    flex-direction: column;
    .ordering-steps-list {
        padding-inline: 0.7em;
    }
}

.restaurants-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background: $color-light-grey;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loading-container {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}
