.menu-restaurant-image {
    height: 270px;
    width: 100%;
    object-fit: cover;
}

.menu-section {
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-30px);
    background: $color-light-grey;

    .menu-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-title {
            font-family: $font-title;
            font-weight: 400;
        }
    }
}
