.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: 1em;
        margin-right: auto;
        color: black;
        position: absolute;
        left: 0;
    }
}

.menu-main {
    background-color: $color-light-grey;
}

.menu-restaurant-image {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.menu-section {
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-30px);
    background: $color-light-grey;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 80px;

    section {
        padding: 0;
    }

    .menu-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-title {
            font-family: $font-title;
            font-weight: 400;
        }
    }

    .menu-section-title {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: medium;
        padding-bottom: 5px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 2.5em;

            background-color: $color-tertiary;
        }
    }

    .command-button {
        align-self: center;
        padding-inline: 3em;
    }

    .menu-list {
        margin-top: 12px;
    }
}
